/Diversos/NFE/*.dsk
/Lavanderia/LavFacilLan/*.~pas
/Lavanderia/LavFacilLan/*.~dsk
/Lavanderia/LavFacilLan/*.dsk
/Diversos/NFE/*.~pas
/Diversos/NFE/*.~dsk
/Diversos/NFE/*.ddp
/Diversos/NFE/*.~ddp
/Diversos/NFE/*.~dfm
/Lavanderia/LavFacilLan/*.ddp
/Lavanderia/LavFacilLan/*.~dfm
*.~pas
*.~dfm
*.~dsk
*.~ddp
*.~dpr
*.dcu
*.dsk
*.dof
*.ddp
*.cfg
*.exe
